@model StudentManagement.Models.Frontend_message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Frontend_message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Message_Image_Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message_Image_Path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message_description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MessageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
