@model StudentManagement.Models.Frontend_Image

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>Frontend_Image</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_Path)
        </dt>

        <dd>
            <img src="@Url.Content(Model.Image_Path)" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ImageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
