@model StudentManagement.Models.Account

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Accounts",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Account</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

		@Html.Partial("_Account_Edit_Create")

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>

</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



